html, body {
  background-color: lemonchiffon;
  width: 100%; }

.menu-label {
  color: lemonchiffon; }

.menu-list a {
  color: white; }

#main-container {
  display: flex;
  height: 100%;
  width: 100%;
  padding-left: 300px; }

#mapid {
  height: 500px;
  width: 500px; }
