html, body {
  background-color: lemonchiffon;
  width: 100%; }

.menu-label {
  color: lemonchiffon; }

.menu-list a {
  color: white; }

#main-container {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  padding-left: 300px; }

#form-container {
  background-color: mintcream; }

#mapid {
  height: 500px;
  width: 700px; }

#map-container, #form-container {
  flex: 1;
  padding: 20px; }

#search {
  margin: 10px;
  display: flex; }

.search-child {
  margin-right: 10px;
  flex: 1; }

#location {
  display: flex; }
