html, body {
  background-color: floralwhite;
  width: 100%; }

.menu-label {
  color: lemonchiffon; }

.menu-list a {
  color: white; }

#main-container {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%; }

#sidebar {
  flex: 1;
  background-color: #383f51;
  color: ivory; }

#content {
  flex: 8; }

#content-top {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 2px solid #383f51; }

#content-bottom {
  display: flex;
  align-items: stretch; }

#map {
  flex: 2; }

#form {
  flex: 1;
  background-color: mintcream; }

#notch {
  flex: 1;
  border-right: 1px solid gray; }

#google {
  flex: 1; }

#sidebar, #form, #notch, #google {
  padding: 20px; }

#mapid {
  height: 100%;
  width: 100%; }

#search {
  margin: 10px;
  display: flex;
  flex-wrap: wrap; }

.search-child {
  margin-right: 10px;
  flex: 1; }

#city {
  background-color: lightcyan; }

.login-warning {
  color: red;
  font-size: 11px;
  font-weight: bold; }

.form-warning {
  color: red;
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 3px; }

.form-success {
  color: #11B060;
  font-size: 15px;
  font-weight: bold;
  margin-left: 5px; }

.login-button {
  margin-right: 10px; }

.category {
  list-style-type: none; }

#username {
  font-weight: bold; }

.category {
  cursor: pointer; }

.description {
  font-size: 13px; }

#google-logo {
  height: 30px;
  width: auto; }

.modal {
  color: black; }

#person-icon {
  height: 15px;
  width: auto; }

#profile-menu {
  background-color: #383f51;
  width: 100%;
  padding: 10px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between; }

#profile-content {
  display: flex;
  flex-direction: column;
  align-items: center; }

.delete {
  margin-left: 20px; }

.marker-icon {
  height: 22px;
  width: auto;
  margin-right: 10px; }

.tooltip {
  background-color: transparent;
  border-style: none;
  box-shadow: none;
  font-size: 12px;
  min-width: 150px;
  max-width: 500px; }

.signature {
  display: flex;
  justify-content: space-between;
}