html, body {
  background-color: lemonchiffon;
  width: 100%; }

.menu-label {
  color: lemonchiffon; }

.menu-list a {
  color: white; }

#main-container {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%; }

#sidebar-container {
  flex: 1;
  background-color: #383f51;
  color: ivory; }

#map-container {
  flex: 4; }

#form-container {
  flex: 3; }

#sidebar-container, #map-container, #form-container {
  padding: 20px; }

#form-container {
  background-color: mintcream; }

#mapid {
  height: 500px;
  width: 100%; }

#search {
  margin: 10px;
  display: flex;
  flex-wrap: wrap; }

.search-child {
  margin-right: 10px;
  flex: 1; }

#city {
  background-color: lightcyan; }

.warning {
  color: red;
  font-size: 11px; }

.login-button {
  margin-right: 10px; }

.category {
  list-style-type: none; }

#username {
  font-weight: bold; }
