$color: lemonchiffon;

html, body {
    background-color: $color;
    width: 100%;
}

.menu-label {
    color: lemonchiffon;
}

.menu-list a {
    color: white;
}

#main-container {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    padding-left: 300px;
}

#mapid {
    height: 500px;
    width: 500px;
}

#map-container, #form-container {
    flex: 1;
    padding: 20px;
}

#search {
    margin: 10px;
}

#location {
    display: flex;
}
